/* https://digitalsynopsis.com/design/beautiful-color-palettes-combinations-schemes/ */
body {
    margin: 0;
    font-family: 'Baloo 2', cursive;
    background-color: #fce4f6   ;
}
img {
    max-width: 100%;
    max-height: 100%;
    height: 100%;
    width: 100%;
}
/* header */
.header{
    width: 100%;
    padding-top: 10px;
    background-color: #fcc6ee;
    border-bottom: 1px solid rgba(0,0,0,.1);
}
.row{
    margin-left: 0px;
}

/* logo */
.title{
    font-family: 'Baloo 2', cursive;
    font-size: 40px;
    width: 100%;
    margin: 0;
    color: hotpink;
}

.logo-div{
    align-items: center;
}

.logo{
    display: flex;
    align-items: center;
    width: 100%;
    padding-left: 10px;
}
/* search-input */
.wrap {
    width: 30%;
    transition: all 1.5s;
}
.search-bar{
    width: 100%;
    display:flex;
    position: relative;
    align-items: center;
    justify-content: center;
}
/* SEARCH INPUT */
.form-control:focus{
    border: 1px solid #ff5588;
    box-shadow: 0 0 3px 3px #ff3377 ;
}
.search-input{
    height: 100%;
    width: 100%;
    border: 1px solid #ff5588;
    border-right: none;
    outline: none;
    border-radius: 5px 0 0 5px;
    transition: all 1.5s;
}
.search-input:hover{
    box-shadow: 0 0 3px 3px #ff3377 ;
}

/* BUTTON SEARCH */
.search-button{
    cursor: pointer;
    background-color: #ff5588;
    border: 1px solid #ff5588;
}
.search-button:hover{
    background-color: #ff86ab;
    border: 1px solid #ff5588;
    box-shadow: 0 0 3px 3px #ff3377 ;
}
.search-button:active{
    background-color: #ff86ab;
    border: 1px solid #ff5588;
    box-shadow: 0 0 3px 3px #ff3377 ;
}
.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle{
    background-color: #ff86ab;
    border: 1px solid #ff5588;
    box-shadow: 0 0 3px 3px #ff3377 ;
}
.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-primary.dropdown-toggle{
    background-color: #ff86ab;
    border: 1px solid #ff5588;
    box-shadow: 0 0 3px 3px #ff3377 ;
}
.search-button:focus{
    background-color: #ff86ab;
    border: 1px solid #ff5588;
    box-shadow: 0 0 3px 3px #ff3377 ;
}
/* login */
.login{
    display: flex;
    justify-content: center;
    align-items:center;
}
.login-button-div{
    align-items: center;
    margin-right: 20px;
}
.login-button{
    color: #ff5588;
    border-color: #ff5588;
    background-color: #ff558800;
}
.login-button:hover{
    background-color: #ff5588;
    border-color: #ff5588;
}
.login-button:active{
    background-color: #ff5588;
    border-color: #ff5588;
    color: #ff5588;
}
.login-button:focus{
    background-color: #ff558800;
    border-color: #ff5588;
    box-shadow: 0 0 0 0.2rem #ff5588;
    color: #ff5588;
}

/* navbar */

/* container */

/* carousel */

.li-slide{
    width: 20px;
    height: 10px;
}
.slide-size {
    width: 100%;
    height:400px;
}
.slide-div{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 50%;
}
.slide-div-after{
    content: "";
    height: 50px;
    width: 100%;
    margin: 30px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dog-icon{
    width: 100%;
    height: 100%;
}
.dot{
    border: 1px solid #ff3377;
    border-radius: 50%;
    height: 10px;
    width: 10px;
    margin:0 10px;
    box-shadow: 0 0 3px 3px #ff3377;
}
.line-after{
    height: 1px;
    width: 100%;
    border-top: 5px solid #ff3377;
    border-radius: 50%;
}
.slide{
    width: 100%;
}
.carousel-caption{
    text-align: left;
    color:#ff5588 ;
}
.carousel-indicators li{
    width: 10px;
    height: 10px;
    background: transparent;
    position: relative;
    margin: 0;
    margin-right: 30px;
    border: 1px solid #ffffff;
    border-radius: 50%;
    cursor: pointer;
}
.carousel-indicators .active{
    background: #ff3377 ;
    box-shadow: 0 0 0 0px #fff;
    border: 1px solid #ff3377 ;
    border-radius: 50%;
}

.carousel-indicators .active .point {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 1px solid #ff3377 ;
    margin-left: -4px;
    margin-top: -4px;
}
.line{
    position: absolute;
    top: 4px;
    left: 10px;
    width: 30px;
    height: 1px;
    border-top: 1px solid rgba(255, 255, 255, 0.44);
}

/* video */
.discrible-page{
    width: 60%;
}
.discrible-page-img{
    width: 40%;
    display: flex;
    justify-content: flex-end;
}
.slide-size-about{
    width: 100%;
    height: 300px;
}
/* .discrible-page-img::after{
    position: absolute;
    border: 1px solid black;
    content: "";
    height: 100%;
    right: 0;
    bottom: 30px;
    left: 30px;
} */
/* footer */
.footer{
    margin-bottom: 50px;
}